.env.prod
.env.staging
.env.smoke
.env
.ENV-ER-PROD
ngrok
ngrok.exe
node_modules
*_files/
schema.sql
data.sql
auth-users.sql
*.dump
auth-users.sql

supabase/.temp/
\docs\stiftelsesdokumenter
body.json